body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

body{
    background-image: url(https://i.ibb.co/wJBqgVR/Fundo.jpg);
    background-position: top center;
    background-size: 100% auto; 
    background-repeat: no-repeat;
    background-color: #121214;
}


header {
    padding-top: 32px;
    height: 152px;
}

header div {
    width: 120px;
    margin: auto;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div:hover{
    transform: scale(1.2);
}

header div img {
    width: 100%;
    border-radius: 50%;
}

.name {
    color: white;
    margin-top: 10px;
    padding: 0 42%;
    font-size: 27px;
}

/*---------------------------------------------*/

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 32px;
    margin-top: 32px;
    /*margin-bottom: 32px;*/
}

section {
    color: white;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div{
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2{
    letter-spacing: -0.47px;
}

section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    flex-wrap: wrap;
}

section ul li{
    transition: transform .2s;
}

section ul li:hover{
    transform: scale(1.2);
}

.movie-list img {
    width: 95px;
    border-radius: 8px;
}


.games-list img{
    width: 90px;
    border-radius: 8px;
}

.channel-list img{
    width: 70px;
    border: 1px solid #443E54;
    border-radius: 50%;
}

footer{
    max-width: 580px;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 32px;
    margin-top: 32px;
}

.final{
    background-color: #2a2634;
    padding: 15px;
    padding-top: 24px;
    border-radius: 8px;
    text-align: center;
}

span{
    color: #A1A1AA;
}

/* animation */

header div {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 1;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

.final {
    animation: fromFooter .7s .9s backwards;
}


@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromFooter {
    from {
        opacity: 0;
        transform: translateX(-30px) ;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*---------------------------------------------------------------------------------*/

@media (max-width: 1280px) {
    .name {
        padding: 0 39%;
        font-size: 27px;
    }
}

@media (max-width: 768px) {
    .name {
        padding: 0 32%;
        font-size: 27px;
    }
}

@media (max-width: 425px) {
    .name {
        padding: 0 23%;
        font-size: 23px;
    }
}
